@import url("https://use.typekit.net/rkp1fwe.css");
//font-family: century-gothic, sans-serif;
//font-family: montserrat, sans-serif;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: montserrat, sans-serif;
}
::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    border-radius: 3px; 
}
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-thumb { border-radius: 30px; }
::-webkit-scrollbar-thumb:hover { background: #bdbdbd; }
.no-scroll { overflow-y: hidden; overflow-x: hidden; }
.active { font-weight: 900; }
.txt__gray {
    color: #8D8D8D;
    a {
        text-decoration: none;
        color: #8D8D8D;
    }
}
.txt__red { color: #A5161F; }
.txt__bold { font-weight: 900; }
.txt__aqua { color: #00ffff; }
.txt__pink { color: #D90F6D; }
.txt__light-pink { color: #EA4C89; }
.txt__orange { color: #ffa500; }
.txt__teal { color: #31666B; }
.txt__navy { color: #335063; }