#contact {
    background-image: url(images/map.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
    z-index: -1;
    h1 {
        font-size: 3em;
        padding-top: 15rem;
        padding-left: 7rem;
        @media only screen and (max-width: 830px) { display: none; }
    }
}
.form-wrapper {
    background-color: #ffffff;
    position: absolute;
    right: 15vw;
    top: 8rem;
    width: 22rem;
    height: 30rem;
    border: solid #ffffff 3rem;
    z-index: 9;
    @media only screen and (max-width: 830px) { 
        top: 50vh;
        margin-top: -15rem;
        right: 50vw;
        margin-right: -11rem;
    }
}
form {
    width: 100%;
    input, textarea {
        font-family: montserrat, sans-serif;
        font-weight: 700;
        font-size: 0.8em;
        border-bottom: solid 1px #000000;
        border-top: none;
        border-left: none;
        border-right: none;
        line-height: 2.5em;
    }
    ::placeholder {
        color: #000000;
        opacity: 1; 
    }
    textarea, input[type=text], input[type=email], input[type=phone] {
        width: 100%;
        background-color: #ffffff;
        margin-top: 1rem;
    }
    input[type=submit] {
        background-color: #D90F6D;
        color: #ffffff;
        margin-top: 4rem;
        margin-left: 7rem;
        border-bottom: none;
        font-size: 1.5em;
        width: 75%;
        text-align: right;
        line-height: 0rem;
        padding: 1.5rem;
    }
    input[type=submit]:active, input[type=submit]:focus { background-color: #ffffff; }
    input[type=submit]:hover { opacity: 0.6; }
}