#contact {
    background-image: url(images/map.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -1;
    h1 {
        font-size: 3em;
        padding-top: 15rem;
        padding-left: 7rem;
        @media only screen and (max-width: 830px) { display: none; }
        span { color: $pink; }
    }
}
.form-wrapper {
    background-color: $white;
    position: absolute;
    right: 15vw;
    top: 8rem;
    width: 22rem;
    height: 30rem;
    border: solid $white 3rem;
    z-index: 9;
    @media only screen and (max-width: 830px) { 
        top: 50vh;
        margin-top: -15rem;
        right: 50vw;
        margin-right: -11rem;
    }
}
form {
    width: 100%;
    input, textarea {
        background-color: $white;
        font-family: montserrat, sans-serif;
        font-weight: 700;
        font-size: 0.8em;
        border-bottom: solid 1px $black;
        border-top: none;
        border-left: none;
        border-right: none;
        line-height: 2.5em;
        width: 100%;
        margin-top: 1rem;
    }
    ::placeholder {
        color: $black;
        opacity: 1; 
    }
    button {
        background-color: $pink;
        color: $white;
        margin-top: 4rem;
        margin-left: 7rem;
        border: none;
        font-size: 1.5em;
        width: 75%;
        text-align: right;
        line-height: 0rem;
        padding: 1.5rem;
        &:hover { opacity: 0.6; }
    }
}