#experience-body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: column nowrap;
    width: 100vw;
}
.card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    height: 100%;
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.card-container {
    margin-top: 10rem;
    background-color: transparent;
    width: 15rem;
    height: 10rem;
    perspective: 100rem;
    margin: 1.5rem;
}
.cards {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    z-index: 1;
    transition: width 0.5s, height 0.9s, transform 1.4s;
}
@-moz-document url-prefix() {
    .cards {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
}
.card-container:hover, .card-container:focus { z-index: 9; }
.card-container:hover .cards, .card-container:focus .cards {
    transform: rotateY(180deg);
    width: calc(100% + 8rem);
    height: calc(100% + 17rem);
    @media only screen and (max-width: 600px) { 
        width: calc(100% + 4rem);
        height: calc(100% + 10rem);
    }
 }
.card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 30px;
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    i {
        font-size: 7em;
        margin-top: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
        color: #ffffff;
    }
}
.card__coding { background-color: #870079; }
.card__design { background-color: #D90F6D; }
.card__project { background-color: #FF6759; }
.card-back {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-flow: column nowrap;
    gap: 1rem;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 30px;
    transform: rotateY(180deg);
    margin-left: 5.5rem;
    margin-top: -5vh;
    box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
    @media only screen and (max-width: 600px) { margin-left: 2rem; }
    p {
        font-size: 0.8em;
        max-width: 75%;
    }
    .fab { font-size: 3em; }
    a:hover { opacity: 0.6; }
    .github-square_code { color: #870079; }
    .github-square__design { color: #D90F6D; }
    .fa-linkedin { color: #FF6759; }
}
.timeline-wrapper  {
    color: #4d4c59;
    @media only screen and (max-width: 600px) { 
        margin: 1rem;
    }
}
.timeline {
	position: relative;
	display: flex;
	flex-direction: column;
    list-style: none;
    li {
        border-top: 1px solid #ccc;
        position: relative;
        width: 50%;
        min-height: 10rem;
        margin-bottom: 1rem;
        padding: 1rem 2rem;
        text-align: right;
        transition: 1s;
        opacity: 0;
        transform: translateX(-10%);
    }
    li:before { //circle
        position: absolute;
        top: 0;
        right: 0;
        content:"";
        width: 1rem;
        height: 1rem;
        background: #cccccc;
        border-radius: 50%;
        box-sizing: border-box;
        transform: translate(50%,-50%);
    }
    h3 { 
        font-size: 2em;
        @media only screen and (max-width: 600px) { 
            font-size: 1.5em;
        }
    }
    p {
        font-size: 1em;
        line-height: 1.5em;
        @media only screen and (max-width: 600px) { 
            font-size: 0.8em;
            line-height: 1em;
        }
    }
    li:nth-child(2n) {
        align-self: flex-end;
        text-align: left;
        transform: translateX(10%);
    }
    li:nth-child(2n):before {
        left: 0;
        transform: translate(-50%,-50%);
    }
    li.visible {
        opacity: 1;
        transform: translateX(0);
    }
}
.timeline:before {//line
	content:  "";
	position: absolute;
	top:  0;
	bottom: 0;
	left: 50%;
	width: 1px;
	background-color: #cccccc;
}