footer { width: 100%; }
.SoMe-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 15vh;
    .fa, .fab {
        margin: 5vw;
        padding: 2rem;
        font-size: 3em;
        text-decoration: none;
        border-radius: 50%;
        color: white;
    }
    .fa:hover, .fab:hover { opacity: 0.7; }  
    .fa-linkedin { background: #0072b1; }
    .fa-linkedin:active {
        color: #0072b1;
        background: #ffffff;
    }
    .fa-instagram { background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }
    .fa-instagram:active,   .fa-github:active ,    .fa-codepen:active {
        color: #000000;   
        background: #ffffff;
    }
    .fa-codepen, .fa-github { background: #000000; } 
}