.body__game-of-dice {
    background-color: #191919;
    color:#ffffff;
}
.bg__game-of-dice {
    background-color: #242424;
    height: 100vh;
    width: 50vw;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    @media only screen and (max-width: 600px) { display: none; }
}
#game-of-dice {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin-left: 2rem;
}
.game-of-dice__txt {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-flow: column nowrap;
    gap: 0.5rem;
    margin-top: calc(50vh - 12.5rem);   
    h1 { 
        font-size: 3em; 
        @media only screen and (max-width: 600px) { font-size: 2em; }
    }
    p { 
        max-width: 35vw; 
        @media only screen and (max-width: 600px) { max-width: 80vw; }
    }
    .button-container {
        flex-flow: row wrap;
        i {
            font-size: 1.8em;
            color: #242424;
        }
        button {
            border-radius: 10px;
            background: #00ffff;
            border: none;
            outline: none;
            height: 3rem;
            width: 3rem;
            margin-right: 1rem;
            margin-top: 2rem;
            cursor: pointer;
        }
        button:hover { transform: scale(0.95); }
        button:active { transform: scale(1.05); }
    }
}
.bubble-wrapper {

    position: absolute;
    top: 45vh;
    right: 20vw;
}
.fa-play {
    color: #00ffff;
    @media only screen and (max-width: 600px) { display: none; }
}
.bubble {
    box-shadow: 3px 3px 7px rgba(0,0,0,0.15), -3px -3px 7px rgba(255,255,255,0.05);
    border-radius: 50%;
    transform: scale(4);
    @media only screen and (max-width: 600px) { display: none; }
    div {
        background-color: #242424;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        margin: 2px;
        user-select: none; //pevent text selection
        cursor: pointer;
    }
    div:hover {
        box-shadow: inset 3px 3px 7px rgba(0,0,0,0.15), inset -3px -3px 7px rgba(255,255,255,0.09);
        transform: scale(0.99);
    }
    i:active { color: #00ffff; }
    i:focus { color: #00ffff; }
}