#index { //main
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    margin-bottom: 8.5rem;
    margin-top: calc(100vh + 8.5rem);
}
#img__geometric {
    position: absolute;
    height: 92vh;
    top: 0;
    margin-top: 1.5rem;
    right: 0;
    margin-right: 1rem;
    filter:drop-shadow(2px 2px 5px gray)
}
/*#img__geometric:hover {
    filter: grayscale(100%);
}*/
.index-header-txt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    left: 1.5rem;
    top: 28rem;
    h1 {
        font-size: 2.5em;
    }
    p {
        line-height: 1.5em;
    }
    .txt__gray {
        margin-bottom: -0.8rem;

    }
    span {
        color: #D90F6D;
    }
    .SoMe {
        justify-content: flex-start;
        margin-left: -0.6em;
    }
}