#index { //main
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    margin-bottom: 8rem;
    margin-top: 8rem;
}
#img__geometric {
    position: absolute;
    height: 94vh;
    top: 0;
    margin-top: 3vh;
    right: 0;
    margin-right: 3vh;
    filter:drop-shadow(2px 2px 5px gray)
}
/*#img__geometric:hover {
    filter: grayscale(100%);
}*/
.index-header-txt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    left: 2.5vh;
    top: 31rem;
    .txt__gray {
        margin-bottom: -0.8rem;
    }
    span {
        color: #D90F6D;
    }
    .SoMe {
        justify-content: flex-start;
        margin-left: -0.6em;
    }
}