header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column nowrap;
}
nav {
    position: absolute;
    top: 1.5rem;
    left: 0;
    @media only screen and (max-width: 600px) { 
        left: 50vw;
        margin-left: -11.5rem;
        top: 0.8rem;
    }
    a {
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 2rem;
        font-size: 0.7em;
        @media only screen and (max-width: 600px) { margin-left: 1.5rem; }
    }
    a:hover { opacity: 0.6; }
}
.SoMe {
    display: flex;
    flex-flow: row wrap;
    z-index: 9;
    gap: 1rem;
    i {
        position: relative;
        z-index: 11;
        color: #000000;
        font-size: 1.1em;
        padding: 0.6em;
        border-radius: 50%;
    }
    i:hover {
        transform: scale(1.1);
        transition: 0.8s;
        color: #ffffff;
    }
    .fa-linkedin:hover { background-color: #0072b1; }
    .fa-github-alt { font-size: 1.15em; }
    .fa-github-alt:hover { background-color: #24292e; }
    .fa-codepen:hover { background-color: #1e1f26; }
    .fa-instagram:hover { background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); }
}
footer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 1rem;
    .SoMe { justify-content: flex-end; }
}