header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.line-white {
    border-top: #ffffff 1px solid;
    height: 1px;
    width: 12rem;
}
.SoMe-header {
    position: absolute;
    display: flex;
    width: 80vw;
    top: 50vh;
    left: 50vw;
    margin-left: -25rem;
    z-index: 9;

    i {
        color: #ffffff;
        font-size: 1.5em;
    }
    i:hover {
        position: absolute;
        z-index: 11;
        transform: scale(1.5);
        transition: 0.8s;
        background-color: black;
        padding: 1em;
        border-radius: 50%;
    }
}