.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    gap: 8.5rem;
    @media only screen and (max-width: 600px) { gap: 5rem; }
}
.circle {
    height: 35rem;
    width: 35rem;
    border-radius: 50%;
    box-shadow: 9px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
    @media only screen and (max-width: 600px) { 
        height: 20rem;
        width: 20rem;
    }
}
.img__computer {
    width: 40rem;
    position: absolute;
    margin-top: 7rem;
    left: 50vw;
    z-index: 9;
    @media only screen and (max-width: 600px) { 
        margin-top: 4.5rem;
        width: 20rem;
    }
}
.img__computer:hover  { transform: scale(0.99); }
.portfolio-item__h1 {
    position: absolute;
    left: 50vw;
    margin-top: 8rem;
    font-size: 1.6em;
    @media only screen and (max-width: 600px) { display: none; }
}
.portfolio-item__p {
    position: absolute;
    margin-top: 21rem;
    left: 50vw;
    font-size: 1.5em;
    z-index: 11;
    @media only screen and (max-width: 600px) { display: none; }
    a {
        text-decoration: none;
        cursor: pointer;
        color: #000000;
    }
    a:hover { opacity: 0.5; }
}
.circle__aqua { background-color: #00ffff; }
.circle__red { background-color: #A5161F; }
.circle__orange { background-color: #ffa500; }
.circle__teal { background-color: #31666B; }
.circle__aqua, .circle__orange { //right
    text-align: right;
    .portfolio-item__h1 { 
        margin-left: -27rem; 
        @media only screen and (max-width: 600px) { margin-left: -7rem; }
    }
    .portfolio-item__p { margin-left: -13rem; }
    .portfolio-item__link { margin-left: -5rem; }
    .img__computer { 
        margin-left: -5rem; 
        @media only screen and (max-width: 600px) { margin-left: -10rem; }
    }
}
.circle__red, .circle__teal { //left
    text-align: left;
    .portfolio-item__h1 { margin-left: 2rem; }
    .portfolio-item__p { margin-left: 2rem; }
    .portfolio-item__link { margin-left: 4rem; }
    .img__computer { 
        margin-left: -35rem; 
        @media only screen and (max-width: 600px) { margin-left: -10rem; }
    }
}