.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    .circle { 
        margin-top: 4rem;
        margin-bottom: 4rem;

        @media only screen and (max-width: 600px) { 
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }
    img {
        width: 40rem;
        position: absolute;
        margin-top: 7rem;
        left: 50vw;
        z-index: 9;
        &:hover { transform: scale(0.99); }
        @media only screen and (max-width: 600px) { 
            margin-top: 4.5rem;
            width: 20rem;
        }
    }
}
.portfolio-title {
    p {font-weight: 900;}
    position: absolute;
    left: 50vw;
    margin-top: 10rem;
    font-size: 1.6em;
    @media only screen and (max-width: 600px) { display: none; }
}
.portfolio-link {
    position: absolute;
    margin-top: 20rem;
    left: 50vw;
    font-size: 1.5em;
    z-index: 11;
    @media only screen and (max-width: 600px) { display: none; }
    a:hover { opacity: 0.5; }
}
.circle__holidaze {
    background-color: #335063; 
    @include circle-left;
}
.circle__game-of-dice {
    background-color: #00ffff; 
    @include circle-right;
}
.circle__mission-to-mars {
    background-color: $mars-red; 
    @include circle-left;
}
.circle__nice-cream {
    background-color: $orange; 
    @include circle-right;
}
.circle__re-cycle {
    background-color: $teal; 
    @include circle-left;
}
.circle__CSM {
    background-color: $light-pink; 
    @include circle-right;
}