@import url("https://use.typekit.net/rkp1fwe.css");
//font-family: century-gothic, sans-serif;
//font-family: montserrat, sans-serif;

$light-grey: #8d8d8d;
$mars-red: #A5161F;
$pink: #D90F6D;
$light-pink: #EA4C89;
$orange: #ffa500;
$aqua: #00ffff;
$teal: #31666B;
$navy: #335063;
$black: #242424;
$white: #ffffff;

.txt__gray {
    color: $light-grey;
    a {
        text-decoration: none;
        color: $light-grey;
    }
}
.txt__bold { font-weight: 900; }