@import url("https://use.typekit.net/rkp1fwe.css");
//font-family: century-gothic, sans-serif;
//font-family: montserrat, sans-serif;

.txt__gray {
    color: $light-grey;
    a {
        text-decoration: none;
        color: $light-grey;
    }
}
.txt__bold { font-weight: 900; }