@import url("https://use.typekit.net/rkp1fwe.css");
#index {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column nowrap;
  margin-bottom: 8.5rem;
  margin-top: calc(100vh + 8.5rem);
}
@media only screen and (max-width: 600px) {
  #index {
    margin-bottom: 5rem;
    margin-top: calc(100vh + 5rem);
  }
}

#img__geometric {
  position: absolute;
  height: 92vh;
  bottom: 1.9rem;
  right: 1rem;
  filter: drop-shadow(2px 2px 5px #808080);
}
@media only screen and (max-width: 600px) {
  #img__geometric {
    display: none;
  }
}

#img__geometric-phone {
  position: absolute;
  width: 92vw;
  top: 0;
  margin-top: 3rem;
  right: 0;
  margin-right: 1rem;
  filter: drop-shadow(2px 2px 5px #808080);
}
@media only screen and (min-width: 600px) {
  #img__geometric-phone {
    display: none;
  }
}

.index-header-txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  left: 2rem;
  bottom: 1.9rem;
}
@media only screen and (max-width: 600px) {
  .index-header-txt {
    gap: 0rem;
    left: 1rem;
    bottom: 0.5rem;
  }
}
.index-header-txt h1 {
  font-size: 2.5em;
}
@media only screen and (max-width: 600px) {
  .index-header-txt h1 {
    font-size: 2em;
  }
}
.index-header-txt p {
  line-height: 1.5em;
}
.index-header-txt .txt__gray {
  margin-bottom: -0.8rem;
}
@media only screen and (max-width: 600px) {
  .index-header-txt .txt__gray {
    display: none;
  }
}
.index-header-txt .SoMe {
  justify-content: flex-start;
  margin-left: -0.6em;
}

#contact {
  background-image: url(images/map.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  z-index: -1;
}
#contact h1 {
  font-size: 3em;
  padding-top: 15rem;
  padding-left: 7rem;
}
@media only screen and (max-width: 830px) {
  #contact h1 {
    display: none;
  }
}

.form-wrapper {
  background-color: #ffffff;
  position: absolute;
  right: 15vw;
  top: 8rem;
  width: 22rem;
  height: 30rem;
  border: solid #ffffff 3rem;
  z-index: 9;
}
@media only screen and (max-width: 830px) {
  .form-wrapper {
    top: 50vh;
    margin-top: -15rem;
    right: 50vw;
    margin-right: -11rem;
  }
}

form {
  width: 100%;
}
form input, form textarea {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  border-bottom: solid 1px #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  line-height: 2.5em;
}
form ::placeholder {
  color: #000000;
  opacity: 1;
}
form textarea, form input[type=text], form input[type=email], form input[type=phone] {
  width: 100%;
  background-color: #ffffff;
  margin-top: 1rem;
}
form input[type=submit] {
  background-color: #D90F6D;
  color: #ffffff;
  margin-top: 4rem;
  margin-left: 7rem;
  border-bottom: none;
  font-size: 1.5em;
  width: 75%;
  text-align: right;
  line-height: 0rem;
  padding: 1.5rem;
}
form input[type=submit]:active, form input[type=submit]:focus {
  background-color: #ffffff;
}
form input[type=submit]:hover {
  opacity: 0.6;
}

#experience-body {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-flow: column nowrap;
  width: 100vw;
}

.card-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  height: 100%;
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.card-container {
  margin-top: 10rem;
  background-color: transparent;
  width: 15rem;
  height: 10rem;
  perspective: 100rem;
  margin: 1.5rem;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  z-index: 1;
  transition: width 0.5s, height 0.9s, transform 1.4s;
}

@-moz-document url-prefix() {
  .cards {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }
}
.card-container:hover {
  z-index: 9;
}

.card-container:hover .cards {
  transform: rotateY(180deg);
  width: calc(100% + 8rem);
  height: calc(100% + 17rem);
}
@media only screen and (max-width: 600px) {
  .card-container:hover .cards {
    width: calc(100% + 4rem);
    height: calc(100% + 10rem);
  }
}

.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 30px;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
}
.card-front i {
  font-size: 7em;
  margin-top: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #ffffff;
}

.card__coding {
  background-color: #870079;
}

.card__design {
  background-color: #D90F6D;
}

.card__project {
  background-color: #FF6759;
}

.card-back {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-flow: column nowrap;
  gap: 1rem;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 30px;
  transform: rotateY(180deg);
  margin-left: 5.5rem;
  margin-top: -5vh;
  box-shadow: 4px 2px 16px rgba(136, 165, 191, 0.48);
}
@media only screen and (max-width: 600px) {
  .card-back {
    margin-left: 2rem;
  }
}
.card-back p {
  font-size: 0.8em;
  max-width: 75%;
}
.card-back .fab {
  font-size: 3em;
}
.card-back a:hover {
  opacity: 0.6;
}
.card-back .github-square_code {
  color: #870079;
}
.card-back .github-square__design {
  color: #D90F6D;
}
.card-back .fa-linkedin {
  color: #FF6759;
}

.timeline-wrapper {
  color: #4d4c59;
}
@media only screen and (max-width: 600px) {
  .timeline-wrapper {
    margin: 1rem;
  }
}

.timeline {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.timeline li {
  border-top: 1px solid #ccc;
  position: relative;
  width: 50%;
  min-height: 10rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  text-align: right;
  transition: 1s;
  opacity: 0;
  transform: translateX(-10%);
}
.timeline li:before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 1rem;
  height: 1rem;
  background: #cccccc;
  border-radius: 50%;
  box-sizing: border-box;
  transform: translate(50%, -50%);
}
.timeline h3 {
  font-size: 2em;
}
@media only screen and (max-width: 600px) {
  .timeline h3 {
    font-size: 1.5em;
  }
}
.timeline p {
  font-size: 1em;
  line-height: 1.5em;
}
@media only screen and (max-width: 600px) {
  .timeline p {
    font-size: 0.8em;
    line-height: 1em;
  }
}
.timeline li:nth-child(2n) {
  align-self: flex-end;
  text-align: left;
  transform: translateX(10%);
}
.timeline li:nth-child(2n):before {
  left: 0;
  transform: translate(-50%, -50%);
}
.timeline li.visible {
  opacity: 1;
  transform: translateX(0);
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background-color: #cccccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: montserrat, sans-serif;
}

::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}

.no-scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}

.txt__gray {
  color: #8D8D8D;
}
.txt__gray a {
  text-decoration: none;
  color: #8D8D8D;
}

.active {
  font-weight: 900;
}

.txt__red {
  color: #A5161F;
}

.txt__bold {
  font-weight: 900;
}

.txt__aqua {
  color: #00ffff;
}

.txt__pink {
  color: #D90F6D;
}

.txt__orange {
  color: #ffa500;
}

.txt__teal {
  color: #31666B;
}

footer {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 1rem;
}
footer .SoMe {
  justify-content: flex-end;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column nowrap;
}

nav {
  position: absolute;
  top: 1.5rem;
  left: 0;
}
@media only screen and (max-width: 600px) {
  nav {
    left: 50vw;
    margin-left: -11.5rem;
    top: 0.8rem;
  }
}
nav a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 2rem;
  font-size: 0.7em;
}
@media only screen and (max-width: 600px) {
  nav a {
    margin-left: 1.5rem;
  }
}
nav a:hover {
  opacity: 0.6;
}

.SoMe {
  display: flex;
  flex-flow: row wrap;
  z-index: 9;
  gap: 1rem;
}
.SoMe i {
  position: relative;
  z-index: 11;
  color: #000000;
  font-size: 1.1em;
  padding: 0.6em;
  border-radius: 50%;
}
.SoMe i:hover {
  transform: scale(1.1);
  transition: 0.8s;
  color: #ffffff;
}
.SoMe .fa-linkedin:hover {
  background-color: #0072b1;
}
.SoMe .fa-github-alt {
  font-size: 1.15em;
}
.SoMe .fa-github-alt:hover {
  background-color: #24292e;
}
.SoMe .fa-codepen:hover {
  background-color: #1e1f26;
}
.SoMe .fa-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.portfolio-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column nowrap;
  gap: 8.5rem;
}
@media only screen and (max-width: 600px) {
  .portfolio-container {
    gap: 5rem;
  }
}

.circle {
  height: 35rem;
  width: 35rem;
  border-radius: 50%;
  box-shadow: 9px 2px 16px rgba(136, 165, 191, 0.48), -4px -2px 16px #FFFFFF;
}
@media only screen and (max-width: 600px) {
  .circle {
    height: 20rem;
    width: 20rem;
  }
}

.img__computer {
  width: 40rem;
  position: absolute;
  margin-top: 7rem;
  left: 50vw;
  z-index: 9;
}
@media only screen and (max-width: 600px) {
  .img__computer {
    margin-top: 4.5rem;
    width: 20rem;
  }
}

.img__computer:hover {
  transform: scale(0.99);
}

.portfolio-item__h1 {
  position: absolute;
  left: 50vw;
  margin-top: 8rem;
  font-size: 1.6em;
}
@media only screen and (max-width: 600px) {
  .portfolio-item__h1 {
    display: none;
  }
}

.portfolio-item__p {
  position: absolute;
  margin-top: 21rem;
  left: 50vw;
  font-size: 1.5em;
  z-index: 11;
}
@media only screen and (max-width: 600px) {
  .portfolio-item__p {
    display: none;
  }
}
.portfolio-item__p a {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}
.portfolio-item__p a:hover {
  opacity: 0.5;
}

.circle__aqua {
  background-color: #00ffff;
}

.circle__teal {
  background-color: #31666B;
}

.circle__navy {
  background-color: #233846;
}

.circle__red {
  background-color: #A5161F;
}

.circle__orange {
  background-color: #ffa500;
}

.circle__aqua, .circle__orange {
  text-align: right;
}
.circle__aqua .portfolio-item__h1, .circle__orange .portfolio-item__h1 {
  margin-left: -27rem;
}
@media only screen and (max-width: 600px) {
  .circle__aqua .portfolio-item__h1, .circle__orange .portfolio-item__h1 {
    margin-left: -7rem;
  }
}
.circle__aqua .portfolio-item__p, .circle__orange .portfolio-item__p {
  margin-left: -13rem;
}
.circle__aqua .portfolio-item__link, .circle__orange .portfolio-item__link {
  margin-left: -5rem;
}
.circle__aqua .img__computer, .circle__orange .img__computer {
  margin-left: -5rem;
}
@media only screen and (max-width: 600px) {
  .circle__aqua .img__computer, .circle__orange .img__computer {
    margin-left: -10rem;
  }
}

.circle__red, .circle__teal, .circle__navy {
  text-align: left;
}
.circle__red .portfolio-item__h1, .circle__teal .portfolio-item__h1, .circle__navy .portfolio-item__h1 {
  margin-left: 2rem;
}
.circle__red .portfolio-item__p, .circle__teal .portfolio-item__p, .circle__navy .portfolio-item__p {
  margin-left: 2rem;
}
.circle__red .portfolio-item__link, .circle__teal .portfolio-item__link, .circle__navy .portfolio-item__link {
  margin-left: 4rem;
}
.circle__red .img__computer, .circle__teal .img__computer, .circle__navy .img__computer {
  margin-left: -35rem;
}
@media only screen and (max-width: 600px) {
  .circle__red .img__computer, .circle__teal .img__computer, .circle__navy .img__computer {
    margin-left: -10rem;
  }
}

.bg__mission-to-mars {
  background-color: #A5161F;
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media only screen and (max-width: 600px) {
  .bg__mission-to-mars {
    display: none;
  }
}

#mission-to-mars {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-left: 2rem;
}

.mission-to-mars__txt {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column nowrap;
  gap: 0.5rem;
  margin-top: calc(50vh - 12.5rem);
}
.mission-to-mars__txt h1 {
  font-size: 3em;
}
@media only screen and (max-width: 600px) {
  .mission-to-mars__txt h1 {
    font-size: 2em;
  }
}
.mission-to-mars__txt p {
  max-width: 35vw;
}
@media only screen and (max-width: 600px) {
  .mission-to-mars__txt p {
    max-width: 80vw;
  }
}
.mission-to-mars__txt .button-container {
  flex-flow: row wrap;
}
.mission-to-mars__txt .button-container i {
  font-size: 1.8em;
  color: #ffffff;
}
.mission-to-mars__txt .button-container button {
  border-radius: 10px;
  background: #A5161F;
  border: none;
  outline: none;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}
.mission-to-mars__txt .button-container button:hover {
  transform: scale(0.95);
}
.mission-to-mars__txt .button-container button:active {
  transform: scale(1.05);
}

.mission-to-mars__img {
  display: flex;
  flex-flow: column nowrap;
}
@media only screen and (max-width: 600px) {
  .mission-to-mars__img {
    display: none;
  }
}

#img__astronaut {
  height: 90vh;
  position: absolute;
  right: 50vw;
  margin-right: -38rem;
  top: 5vh;
  filter: grayscale(20%);
}
@media only screen and (max-width: 600px) {
  #img__astronaut {
    display: none;
  }
}

.bg__holidaze {
  background-color: #1E313E;
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media only screen and (max-width: 600px) {
  .bg__holidaze {
    display: none;
  }
}

#holidaze {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-left: 2rem;
}

.holidaze__txt {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column nowrap;
  gap: 0.5rem;
  margin-top: calc(50vh - 12.5rem);
}
.holidaze__txt h1 {
  font-size: 3em;
}
@media only screen and (max-width: 600px) {
  .holidaze__txt h1 {
    font-size: 2em;
  }
}
.holidaze__txt p {
  max-width: 35vw;
}
@media only screen and (max-width: 600px) {
  .holidaze__txt p {
    max-width: 80vw;
  }
}
.holidaze__txt .button-container {
  flex-flow: row wrap;
}
.holidaze__txt .button-container i {
  font-size: 1.8em;
  color: #ffffff;
}
.holidaze__txt .button-container button {
  border-radius: 10px;
  background: #1E313E;
  border: none;
  outline: none;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}
.holidaze__txt .button-container button:hover {
  transform: scale(0.95);
}
.holidaze__txt .button-container button:active {
  transform: scale(1.05);
}

.holidaze__img {
  display: flex;
  flex-flow: column nowrap;
}
@media only screen and (max-width: 600px) {
  .holidaze__img {
    display: none;
  }
}

#img__astronaut {
  height: 90vh;
  position: absolute;
  right: 50vw;
  margin-right: -38rem;
  top: 5vh;
  filter: grayscale(20%);
}
@media only screen and (max-width: 600px) {
  #img__astronaut {
    display: none;
  }
}

.body__game-of-dice {
  background-color: #191919;
  color: #ffffff;
}

.bg__game-of-dice {
  background-color: #242424;
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media only screen and (max-width: 600px) {
  .bg__game-of-dice {
    display: none;
  }
}

#game-of-dice {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-left: 2rem;
}

.game-of-dice__txt {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column nowrap;
  gap: 0.5rem;
  margin-top: calc(50vh - 12.5rem);
}
.game-of-dice__txt h1 {
  font-size: 3em;
}
@media only screen and (max-width: 600px) {
  .game-of-dice__txt h1 {
    font-size: 2em;
  }
}
.game-of-dice__txt p {
  max-width: 35vw;
}
@media only screen and (max-width: 600px) {
  .game-of-dice__txt p {
    max-width: 80vw;
  }
}
.game-of-dice__txt .button-container {
  flex-flow: row wrap;
}
.game-of-dice__txt .button-container i {
  font-size: 1.8em;
  color: #242424;
}
.game-of-dice__txt .button-container button {
  border-radius: 10px;
  background: #00ffff;
  border: none;
  outline: none;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}
.game-of-dice__txt .button-container button:hover {
  transform: scale(0.95);
}
.game-of-dice__txt .button-container button:active {
  transform: scale(1.05);
}

.game-of-dice__img {
  display: flex;
  flex-flow: column nowrap;
}
@media only screen and (max-width: 600px) {
  .game-of-dice__img {
    display: none;
  }
}
.game-of-dice__img a:hover {
  opacity: 0.8;
}

.fa-play-circle {
  font-size: 20em;
  color: #00ffff;
  position: absolute;
  right: 50vw;
  margin-right: -32rem;
  top: 50vh;
  margin-top: -10rem;
}
@media only screen and (max-width: 600px) {
  .fa-play-circle {
    display: none;
  }
}

.bg__nice-cream {
  background-color: #ffa500;
  height: 100vh;
  width: 50vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media only screen and (max-width: 600px) {
  .bg__nice-cream {
    display: none;
  }
}

#nice-cream {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-left: 2rem;
}

.nice-cream__txt {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column nowrap;
  gap: 0.5rem;
  margin-top: calc(50vh - 12.5rem);
}
.nice-cream__txt h1 {
  font-size: 3em;
}
@media only screen and (max-width: 600px) {
  .nice-cream__txt h1 {
    font-size: 2em;
  }
}
.nice-cream__txt p {
  max-width: 35vw;
}
@media only screen and (max-width: 600px) {
  .nice-cream__txt p {
    max-width: 80vw;
  }
}
.nice-cream__txt .button-container {
  flex-flow: row wrap;
}
.nice-cream__txt .button-container i {
  font-size: 1.8em;
  color: #ffffff;
}
.nice-cream__txt .button-container button {
  border-radius: 10px;
  background: #ffa500;
  border: none;
  outline: none;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}
.nice-cream__txt .button-container button:hover {
  transform: scale(0.95);
}
.nice-cream__txt .button-container button:active {
  transform: scale(1.05);
}

.nice-cream__img {
  display: flex;
  flex-flow: column nowrap;
}
@media only screen and (max-width: 600px) {
  .nice-cream__img {
    display: none;
  }
}

#img__ice-cream {
  height: 90vh;
  position: absolute;
  right: 50vw;
  margin-right: -32rem;
  top: 5vh;
  filter: drop-shadow(2px 2px 5px #c0c0c0);
}
@media only screen and (max-width: 600px) {
  #img__ice-cream {
    display: none;
  }
}

.bg__re-cycle {
  background-color: #31666B;
  height: 100vh;
  width: 40vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media only screen and (max-width: 600px) {
  .bg__re-cycle {
    display: none;
  }
}

#re-cycle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-left: 2rem;
}

.re-cycle__txt {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column nowrap;
  gap: 0.5rem;
  margin-top: calc(50vh - 12.5rem);
}
.re-cycle__txt h1 {
  font-size: 3em;
}
@media only screen and (max-width: 600px) {
  .re-cycle__txt h1 {
    font-size: 2em;
  }
}
.re-cycle__txt p {
  max-width: 35vw;
}
@media only screen and (max-width: 600px) {
  .re-cycle__txt p {
    max-width: 80vw;
  }
}
.re-cycle__txt .button-container {
  flex-flow: row wrap;
}
.re-cycle__txt .button-container i {
  font-size: 1.8em;
  color: #ffffff;
}
.re-cycle__txt .button-container button {
  border-radius: 10px;
  background: #31666B;
  border: none;
  outline: none;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}
.re-cycle__txt .button-container button:hover {
  transform: scale(0.95);
}
.re-cycle__txt .button-container button:active {
  transform: scale(1.05);
}

.re-cycle__img {
  display: flex;
  flex-flow: column nowrap;
}
@media only screen and (max-width: 600px) {
  .re-cycle__img {
    display: none;
  }
}

#img__bike {
  height: 65vh;
  position: absolute;
  right: 0vw;
  top: 17.5vh;
}
@media only screen and (max-width: 600px) {
  #img__bike {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
